body {
  font-family: "Genos", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-size:25px;
}

.result, .flex{
  display:flex;
  margin-bottom:3px;
  justify-content: space-between;
  align-items: center;
}

.report_box{
  border:1px solid brown;
  height:30px;
  width:30px;
  padding:1px 5px;
}